<!DOCTYPE html>
<html>
    <head>
        <title>탭이름</title>
        <link rel="stylesheet" href="/style.css">
        <script type="text/javascript" src="/test.js"></script>
    </head>
    <body>
        <h1>고급웹프로그래밍 강의</h1>
        <h3><%= lectureNo %>주차</h3>

        <p>HTML 생성하기 실습</p>
        <img src="/assets/다운로드.jpg">

        <p><%= summary %></p>
        <p><%= date %></p>
        <% numArray.forEach(function (num) { %>
            <p><%= num %></p>
        <% }) %>
    </body>
</html>